altgraph==0.17.4
et-xmlfile==1.1.0
-e git+ssh://git@github.com/mi-samuel/extract-infos-from-mail.git@f3edcda959d20a3df4eeb91e71ea804d7db19b84#egg=extract_infos_from_mail
openpyxl==3.1.2
packaging==24.0
pefile==2023.2.7
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
pywin32-ctypes==0.2.2
setuptools==69.1.1
